@import "tailwindcss";

/****FONTES****/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@font-face {
  font-family: "Conquera";
  src: url('/fonts/Conquera-Fine.woff2') format('woff2'),
       url('/fonts/Conquera-Fine.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Conquera";
  src: url('/fonts/Conquera-Regular.woff2') format('woff2'),
       url('/fonts/Conquera-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Conquera";
  src: url('/fonts/Conquera-Medium.woff2') format('woff2'),
       url('/fonts/Conquera-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Conquera";
  src: url('/fonts/Conquera-Bold.woff2') format('woff2'),
       url('/fonts/Conquera-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Conquera";
  src: url('/fonts/Conquera-Heavy.woff2') format('woff2'),
       url('/fonts/Conquera-Heavy.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

/****UTILITIES****/
@layer utilities {
  //Utility classes for custom backgrounds
  .bg-gradient-orange {
    background-image: var(--color-gradient-orange);
    background-size: 200%;
    animation: gradient-move 4s linear infinite;
  }

  .hover\:bg-solid-orange:hover {
    background-image: none;
    background-color: var(--color-secondary-orange);
  }
}

/****ANIMATIONS****/
@keyframes gradient-move {
  0% {
    background-position: 0% 100%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/****STYLE VARIABLES****/
@theme {
  --breakpoint-sm: 480px;

  --max-width-container: 87.5rem;

  --font-heading: "Conquera", sans-serif;
  --font-body: "Lato", sans-serif;

  --color-primary-black: #121212;
  --color-primary-white: #f2f1f2;
  --color-primary-blue: #142c43;
  --color-secondary-blue: #2C4F70;
  --color-gradient-orange: linear-gradient(to top, #F05824 0%, #CB3233 100%);
  --color-secondary-orange: #F66939;
}